.description {
    font-size: 30px;
    color: red;
    text-shadow: 1px 1px 2px black, 0 0 5px green;
    border: 1px solid black;
    background: #f0f0f0; 
    margin: 0;
}


.description:hover {
    text-shadow: 1px 1px 2px blue, 0 0 5px green;
    color: blue;

}
.todo-item {
    background: #f0f0f0
}